<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head') %>
        <title>Signin</title>
</head>

<body>
    <%- include('./partials/navbar') %>
        <% if (err) { %>
            <div class="alert alert-danger m-3" role="alert">
                <%= err %>
            </div>
        <% } %>
        <div class="container mt-5 ">
            <h1>Signin Page</h1>
            <div class="row cols-8 mt-5 offset-1">
                <form action="/user/signin" method="POST">
                    <div class="mb-3  mt-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

        </div>
        <%- include('./partials/script') %>
</body>

</html>